## Configure spark session

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("myApp") \
    .config("spark.jars.packages", "org.mongodb.spark:mongo-spark-connector_2.12:2.4.0")\
    .config("spark.mongodb.input.uri", "mongodb+srv://students:usfmsds694@example.m9n4r.mongodb.net/msds697.business")\
    .config("spark.mongodb.output.uri", "mongodb+srv://students:usfmsds694@example.m9n4r.mongodb.net/msds697.filtered_business")\
    .config("spark.network.timeout", "3600s")\
    .getOrCreate()

In [2]:
spark

## Read from the collection

In [3]:
df = spark.read.format('com.mongodb.spark.sql.DefaultSource').load()

In [4]:
df.printSchema()

root
 |-- _id: struct (nullable = true)
 |    |-- oid: string (nullable = true)
 |-- address: struct (nullable = true)
 |    |-- building: string (nullable = true)
 |    |-- coord: array (nullable = true)
 |    |    |-- element: double (containsNull = true)
 |    |-- street: string (nullable = true)
 |    |-- zipcode: string (nullable = true)
 |-- borough: string (nullable = true)
 |-- cuisine: string (nullable = true)
 |-- grades: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- date: timestamp (nullable = true)
 |    |    |-- grade: string (nullable = true)
 |    |    |-- score: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- restaurant_id: string (nullable = true)

In [5]:
df.show()

+--------------------+--------------------+---------+--------------------+--------------------+--------------------+-------------+
|                 _id|             address|  borough|             cuisine|              grades|                name|restaurant_id|
+--------------------+--------------------+---------+--------------------+--------------------+--------------------+-------------+
|[5ffab286aa095a4b...|[2300, [-73.87861...|    Bronx|           American |[[2014-05-27 17:0...|           Wild Asia|     40357217|
|[5ffab286aa095a4b...|[2780, [-73.98241...| Brooklyn|           American |[[2014-06-09 17:0...|     Riviera Caterer|     40356018|
|[5ffab286aa095a4b...|[1007, [-73.85607...|    Bronx|              Bakery|[[2014-03-02 16:0...|Morris Park Bake ...|     30075445|
|[5ffab286aa095a4b...|[7114, [-73.90685...| Brooklyn|        Delicatessen|[[2014-05-28 17:0...|  Wilken'S Fine Food|     40356483|
|[5ffab286aa095a4b...|[1, [-73.96926909...|Manhattan|           American |[[2014-05-06 17:0...|1 East 66Th Stree...|     40359480|
|[5ffab286aa095a4b...|[351, [-73.985135...|Manhattan|               Irish|[[2014-09-05 17:0...|Dj Reynolds Pub A...|     30191841|
|[5ffab286aa095a4b...|[469, [-73.961704...| Brooklyn|          Hamburgers|[[2014-12-29 16:0...|             Wendy'S|     30112340|
|[5ffab286aa095a4b...|[265-15, [-73.703...|   Queens|Ice Cream, Gelato...|[[2014-10-27 17:0...|    Carvel Ice Cream|     40361322|
|[5ffab286aa095a4b...|[284, [-73.982923...| Brooklyn|           American |[[2014-11-18 16:0...|   The Movable Feast|     40361606|
|[5ffab286aa095a4b...|[129-08, [-73.839...|   Queens|        Delicatessen|[[2014-08-15 17:0...|          Sal'S Deli|     40361618|
|[5ffab286aa095a4b...|[6909, [-74.02595...| Brooklyn|        Delicatessen|[[2014-08-20 17:0...|   Nordic Delicacies|     40361390|
|[5ffab286aa095a4b...|[1269, [-73.87119...| Brooklyn|             Chinese|[[2014-09-15 17:0...|     May May Kitchen|     40358429|
|[5ffab286aa095a4b...|[759, [-73.992530...|Manhattan|        Delicatessen|[[2014-01-20 16:0...|        Bully'S Deli|     40361708|
|[5ffab286aa095a4b...|[3406, [-73.94024...|   Queens|        Delicatessen|[[2014-03-18 17:0...|Steve Chu'S Deli ...|     40361998|
|[5ffab286aa095a4b...|[6409, [-74.00528...| Brooklyn|           American |[[2014-07-17 17:0...|     Regina Caterers|     40356649|
|[5ffab286aa095a4b...|[18, [-73.996984,...|Manhattan|           American |[[2014-04-02 17:0...|Angelika Film Center|     40362274|
|[5ffab286aa095a4b...|[502, [-73.976112...|Manhattan|             Chicken|[[2014-09-14 17:0...|   Harriet'S Kitchen|     40362098|
|[5ffab286aa095a4b...|[730, [-73.968057...|Manhattan|           American |[[2014-09-11 17:0...|  P & S Deli Grocery|     40362264|
|[5ffab286aa095a4b...|[522, [-73.95171,...|Manhattan|           American |[[2014-09-01 17:0...|       Glorious Food|     40361521|
|[5ffab286aa095a4b...|[531, [-73.963487...| Brooklyn|          Hamburgers|[[2014-03-17 17:0...|        White Castle|     40362344|
+--------------------+--------------------+---------+--------------------+--------------------+--------------------+-------------+
only showing top 20 rows

## Filter the data frame and write to a new collection

In [6]:
filtered_df = df.filter("borough == 'Manhattan'")

In [7]:
filtered_df.write.format("com.mongodb.spark.sql.DefaultSource")\
                 .mode("overwrite")\
                 .option("database","msds697")\
                 .option("collection", "filtered_business")\
                 .save()

In [8]:
spark.stop()